$body-color: #222428;
$white-color: #fff;
$green-color: #9aff2d;
$green-color: #9aff2d;
$dark-green-color: #366603;
$dark_brown-color: #474306;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $body-color;
}
.no-data {
  color: red;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  margin-top: 20px;
}
.none {
  display: none !important;
}

.container {
  max-width: 700px;
  min-width: 300px;

  margin: 0 auto;
  padding: 0 15px;
}

.header__title {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  color: $white-color;
}

.header__wrapper {
  display: flex;
  padding: 20px 0;
  gap: 10px;
  button {
    flex-basis: 15%;
    height: 104px;
    cursor: pointer;
    border-radius: 4px;
    background-color: $dark-green-color;
    color: $white-color;
    border: none;
    transition: all 0.3s;
    &:hover {
      background-color: $green-color;
      color: $dark_brown-color;
    }
  }
}

.header__wrapper-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-basis: 85%;
  input {
    height: 40px;
    padding-left: 20px;
    border-radius: 4px;
  }
  div {
    display: flex;
    gap: 10px;
    textarea {
      width: 100%;
      padding: 10px 20px;
      resize: vertical;
      border-radius: 4px;
    }
    select {
      width: 40%;
      height: 54px;
      border-radius: 4px;
    }
  }
}

.main__search {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  select {
    flex-basis: 30%;
    border-radius: 4px;
  }
  div {
    display: flex;
    position: relative;
    justify-content: space-between;
    flex-basis: 70%;
    input {
      height: 40px;
      padding-left: 20px;
      border-radius: 4px;
      border: none;
      width: 100%;
    }
    button {
      position: absolute;
      right: 5px;
      top: 25%;
      border: none;
      background-color: transparent;
      cursor: pointer;
    }
  }
}

.list__tasks {
  div {
    background-color: $white-color;
    border-radius: 4px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    button {
      width: 20px;
      height: 20px;
      border: none;
      background-color: transparent;
      cursor: pointer;
    }
    ul {
      list-style-type: none;
      display: flex;
      flex-direction: column;
      gap: 10px;
      li {
        h3 {
          font-size: 30px;
        }
        p {
          white-space: pre-wrap;
          max-width: 500px;
        }
      }
    }
  }
}
